<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HELLO</title>
    <link rel="stylesheet" href="css/app.css" media="screen" title="no title">
  </head>
  <body>
    <div class="container">
      <h1>NODE WORLD</h1>
      <h2>Using Twig.js Templating</h2>

      <img src="images/node.svg" alt="" />
    </div>
  </body>

  <footer>
    <p class="center">
      Powered by YOU <br />
  </footer>
</html>
